<div class="headline">
    <h1>Julie Nisbet</h1>
    <div id="links">
        <a href="https://github.com/julienisbet" target="_blank"><img src="images/logos/github.png"></a>
        <a href="http://www.linkedin.com/in/jmnisbet" target="_blank"><img src="images/logos/linkedin.png"></a>
        <a href="http://julesnisbet.tumblr.com/" target="_blank"><img src="images/logos/tumblr.png"></a>
        <a href="http://www.instagram.com/juleslaroo" target="_blank"><img src="images/logos/instagram.png"></a>
        <a href="http://www.twitter.com/julesnisbet" target="_blank"><img src="images/logos/twitter.png"></a>
        <a href="resume.pdf" target="_blank"><img src="images/logos/resume.png"></a>
    </div>
</div>
<div class="about">
    <div class="nav">
        <a routerLink="/bio" routerLinkActive="selected" class="nav-item">My Bio</a>
        <a routerLink="/timeline" routerLinkActive="selected" class="nav-item">Timeline</a>
    </div>
    <router-outlet></router-outlet>
</div>